<html>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>conatact</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
</head>

<body>
   

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <img src="../static/images/logo.png" width="200px" height="70px" alt="">
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="../">Home</a>
                    </li>
                    <li>
                        <a href="../index/">Register</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"> Language<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="#best">Urdu</a></li>
                            <li><a href="#best">Arabic</a></li>
                            <li><a href="#best">English</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../index/">index</a>
                    </li>
                    <br><br>
                    <li>
                        <input id="myInput" type="text" placeholder="Search..">
                        <box-icon name='search-alt-2'></box-icon>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>


    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>International Urdu Language</h1>
                <p>please come and visite to International Urdu Language (IUL)</p>
                <a href="../index/" target="_adeema" class="btn btn-primary btn-lg">Register Now</a>
            </div>
        </div>
    </header>


    
    <!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="../static/images/urdu.png" alt="">
                    <h2 class="section-heading">Urdu was chosen as a symbol of unity for the new state of Pakistan in
                        1947</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="../static/images/students.png" alt="">
                </div>
                <div id="best" class="col-sm-6">
                    <h2 class="section-header">Best in Class</h2>
                    <p class="lead text-muted">The ratio of students per teaching staff is the total number of full-time
                        equivalent students enrolled at a specific level of education divided by the total .</p>
                    <a href="https://learningonline.typeform.com/to/DNWGaD?typeform-source=testyourlanguage.com"
                        class="btn btn-primary btn-lg">Test urdu</a>
                </div>

            </div>
        </div>
    </section>

    <!-- Content 2 -->
    <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-header">Schools</h2>
                    <p class="lead text-light">Educate your child with students from around the world for an exciting
                        experience. Al Huda Global School is the best Islamic school educating students worldwide. View
                        Resources. Chat Support Available. Subscribe For News.</p>
                    <a target="_adeema"
                        href="https://www.pdfdrive.com/download-english-to-urdu-dictionary-e1206328.html"
                        class="btn btn-default btn-lg">Urdu Grammer</a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="../static/images/school.jpg" alt="">
                </div>

            </div>
        </div>
    </section>

    <!-- Promos -->
    <div class="container-fluid">
        <div class="row promo">
            <a href="#">
                <div class="col-md-4 promo-item item-1">
                </div>
            </a>
            <a href="#">
                <div class="col-md-4 promo-item item-2">
                </div>
            </a>

            <a href="#">
                <div class="col-md-4 promo-item item-3">
                </div>
            </a>
        </div>
    </div><!-- /.container-fluid -->

    <!-- Content 3 -->
    <section class="content content-3">
        <div class="container">
            <h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br>About Urdu</h2>
            <p class="lead text-muted">It is the national language and lingua franca of Pakistan, where it is also an
                official language alongside English. In India, Urdu is an Eighth Schedule language whose status and
                cultural heritage is recognized by the Constitution of India; it also has an official status in several
                Indian states</p>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Urdu" class="btn btn-primary btn-lg">Check Now</a>
        </div>
        </div>
    </section>


    
    <!-- Footer -->
    <div id="maindiv">
        <footer class="page-footer">

            <!-- Contact Us -->
            <div class="contact">
                <div class="container">
                    <h2 class="section-heading">Contact Us</h2>
                    <p><span class="glyphicon glyphicon-earphone"></span><br>03453694452</p>
                    <p><span class="glyphicon glyphicon-envelope"></span><br> adeemaamir1722@gmail.com</p>
                </div>
            </div>

            <!-- Copyright etc -->
            <div class="small-print">
                <div class="container">
                    <p>Copyright &copy; International Urdu Language.com 2015</p>
                </div>
            </div>

        </footer>

    </div>


    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#maindiv").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>


</body>

</html>


